
[submodule "The-Brutal-Dragons"]
	path = The-Brutal-Dragons
	url = https://github.com/honghong1012/The-Brutal-Dragons.git

[submodule "example-team-name"]
	path = example-team-name
	url = https://github.com/Northwestern-Data-Sci-Seminar/example-team-name.git
[submodule "The-Daring-Squirrels"]
	path = The-Daring-Squirrels
	url = https://github.com/kanahuang/The-Daring-Squirrels.git
