[submodule "example-team-name"]
	path = example-team-name
	url = https://github.com/Northwestern-Data-Sci-Seminar/example-team-name.git
[submodule "The-Wise-Kingfishers"]
	path = The-Wise-Kingfishers
	url = https://github.com/romansvintitskyy/The-Wise-Kingfishers.git
